<div class="symbol-panel" style="color:white;">
    <div class="row">
        <div class="col-sm-12">
            Please rate how you feel right now on each of the following.
        </div>
    </div>
    <div>
            <form class="form-inline">
                    <div class="row" *ngFor="let question of questions">
                        <div class="col-sm-2">
                            {{question.negativePole}}
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group" id="rbgBiPolar">
                                <label class="radio-inline" *ngFor="let score of scoreRange">
                                    <input type="radio" name="question.questionId" [(ngModel)]="question.answer"
                                     [checked]="score === question.answer" style="margin-left: 15px;" />
                                    {{score}}
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-2" style="float:right; text-align:right;">
                            {{question.positivePole}}
                        </div>
                    </div>
                </form>
        <!-- <app-bi-polar-question *ngFor="let question of getQuestionsToDisplay(); let qIndex = index;" 
        [questionText]="getBiPolarStatement(question)" 
            [questionId]="qIndex+1" [negativePole]="question.negative" [positivePole]="question.positive"
            [scoreRange]="scoreRange" (onResponse)="onResponse($event)"></app-bi-polar-question> -->
    </div>
    <div class="grcs-submit" style="margin-top:10px;">
        <button class="btn btn-secondary"  (click)="submitBiPolarAnswers()">Submit Answers</button>
    </div>
</div>