<div class="symbol-panel" style="color:white; margin-top:40px;">
    <div *ngIf="showConfirm">
        <div class="row">
            <div class="col-sm-12">
                <label class="bet-label">Are you sure you want to end your session?</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="grcs-submit" style="margin-top:10px;">
                    <button (click)="confirmSessionEnd()">Yes</button>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="grcs-submit" style="margin-top:10px;">
                    <button (click)="cancel()">No</button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="showEndSession">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Almost there! To finish the study you need to click the link below to answer some final questions (there are only a few,
                so this will take less than a minute). Thank you!
            </div>
        </div>
        <div class="grcs-submit" style="margin-top:10px;">
            <a class="btn btn-secondary" href="https://monash.az1.qualtrics.com/jfe/form/SV_1Ont5L8WAws6js1">
                Click here to answer final questions</a>
        </div>
    </div>
</div>