<form>
    <div class="form-group">
        <label for="emlPlayerId">Please enter your email address to begin playing</label>
        <input type="email" [(ngModel)]="playerId" class="form-control" id="emlPlayerId" aria-describedby="playerIdHelp" 
            placeholder="Enter email" name="emlPlayerId" >
        <small id="playerIdHelp" class="form-text text-muted">You need to register by entering your email address</small>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" (click)="registerPlayer()">Begin!</button>
    </div>
</form>