<form>
    <div class="form-group">
        <label for="tbBalance">Balance</label>
        <input type="text" value="{{balance}}" class="form-control" id="tbBalance" name="tbBalance" aria-describedby="balanceHelp"
            placeholder="Balance" readonly>
        <small id="balanceHelp" class="form-text text-muted">Your remaining credits</small>
    </div>
    <div class="form-group">
        <label for="tbBetAmount">Bet Amount</label>
        <input type="text" class="form-control" [(ngModel)]="betAmount" id="tbBetAmount" name="tbBetAmount" aria-describedby="betAmountHelp"
            placeholder="Enter bet amount" name="tbBetAmount">
        <small id="betAmountHelp" class="form-text text-muted">Amount bet on each row</small>
    </div>
    <div class="form-group">
        <label for="tbNumRows">Number of Rows</label>
        <select class="form-control" [(ngModel)]="numRows" (change)="changeNumRows($event.target.value)" name="tbNumRows" aria-describedby="numRowsHelp">
            <option *ngFor="let row of rows" [value]="row" [selected]="row === numRows">{{row}}</option>
        </select>
        <small id="numRowsHelp" class="form-text text-muted">The number of rows you are betting on</small>
    </div>
    <div class="form-group">
        <label for="tbBetTotal">Total Bet Cost</label>
        <input type="text" class="form-control" value="{{totalBetCost}}" id="tbBetTotal" name="tbBetTotal" aria-describedby="betTotalHelp"
            placeholder="Toal Bet Cost" readonly>
        <small id="betTotalHelp" class="form-text text-muted">The bet amount multiplied by the number of rows</small>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" (click)="spin()" [disabled]="isBusy">Spin!</button>
    </div>
    <div class="form-group">
        <button class="btn btn-secondary" (click)="endSession()" [disabled]="isBusy">End Session</button>
    </div>
</form>