.container{
    width:100%;
    border: 1px solid red;
}

.display-area{
    color:white;
    height:600px;
    border: 1px solid green;
    background-image: url('/assets/sm-bg.jpg');
    background-size:cover;
}


.symbol-panel{
    width:500px;
    margin-left: auto;
    margin-right: auto;
}

.form-inline > * {
    margin:15px 3px !important;
}

.symbol{
    height:100px;
    width:100px;
}

.grcs-submit{
    margin-top:10px;
}

.bet-textbox{
    width:100%;
}