.container{
    width:100%;
    border: 1px solid red;
}

.display-area{
    height:600px;
    border: 1px solid green;
    background-image: url('/assets/sm-bg.jpg');
    background-size:cover;
}


.symbol-panel{
    width:500px;
    margin-top:35px;
    margin-left: auto;
    margin-right: auto;
}

.grcs-form{
    background-color: white;
}

.symbol{
    height:100px;
    width:100px;
}

.grcs-submit{
    margin-top:10px;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
   /*  padding-right: 15px;
    padding-left: 15px; */
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}