<!-- <div class="row">
    <div class="col-sm-12">
        <label class="grcs-question">{{questionText}}</label>
    </div>
</div>
<div class="form-inline row">
    <label for="rbgBiPolar" class="col-sm-2 col-form-label">{{negativePole}}</label>
    <div class="form-group col-sm-8" id="rbgBiPolar" *ngFor="let score of scoreRange">
        <input name="group20" type="radio" id="{{score}}" (click)="updateResponse(score)" />
        <label for="{{score}}" style="margin-left:10px;">{{score}}</label>
    </div>
    <label for="rbgBiPolar" class="col-sm-2 col-form-label">{{positivePole}}</label>
</div> -->

<form class="form-inline">
    <div class="row">
        <div class="col-sm-2">
            {{negativePole}}
        </div>
        <div class="col-sm-8">
            <div class="form-group" id="rbgBiPolar">
                <label class="radio-inline" *ngFor="let score of scoreRange">
                    <input type="radio" name="optradio"  (click)="updateResponse(score)" style="margin-left: 15px;" />
                    {{score}}
                </label>
            </div>
        </div>
        <div class="col-sm-2" style="float:right; text-align:right;">
            {{positivePole}}
        </div>
    </div>
</form>