<div class="symbol-panel" style="color:white; margin-top:40px;">
    <div class="row">  
        <div class="col-sm-12">
            <label class="bet-label">You have already played for {{timePlayed}} minutes</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <label class="bet-label">You have already placed {{numBets}} bets</label>
        </div>
    </div> 
    <div class="btn btn-primary" style="margin-top:10px;">
        <button (click)="closePopUp()">Ok</button>
    </div>
</div>