<div class="row user-interface">
    <div class="col-sm-4">
        <label class="bet-label">Balance: </label>
        <label class="bet-label">{{balance}} </label>
    </div>
    <div class="col-sm-4">
        <label class="bet-label">Bet Amount: </label>
    </div>
    <div class="col-sm-4">
        <input type="text" class="bet-textbox" [(ngModel)]="betAmount"  />
        <label class="bet-label">Last Bet: </label>
        <label class="bet-label">{{betAmount}} </label>
    </div>
    <div class="col-sm-4">
        <div *ngIf="!showSpinButton">
            <label class="bet-label">Testing your luck...</label>
        </div>
        <div *ngIf="showSpinButton">
            <button (click)="spin(betAmount)">Spin!</button>
        </div>
    </div>
</div>