<div class="row user-interface">
    <div class="col-sm-2">
        <label class="bet-label">Balance: </label>
    </div>
    <div class="col-sm-2">
        <label class="bet-label">Bet Amount: </label>
    </div>
    <div class="col-sm-2">
        <label class="bet-label">Last Bet: </label>
    </div>
    
    <div class="col-sm-2">
        <label class="bet-label">No. Rows: </label>
    </div>
    <div class="col-sm-2">
        <div *ngIf="!isBusy">
            <button (click)="spin(betAmount)">Spin!</button>
        </div>
    </div>
    <div class="col-sm-2">
        <div *ngIf="isBusy">
            <label class="bet-label">Testing your luck...</label>
        </div>
    </div>
</div>
<div class="row user-interface">
    <div class="col-sm-2">
        <label class="bet-label">{{balance}} </label>
    </div>
    <div class="col-sm-2">
        <input type="text" class="bet-textbox" [(ngModel)]="betAmount"  style="width:100%" />
    </div>
    <div class="col-sm-2">
        <label class="bet-label">{{betAmount}} </label>
    </div>
    <div class="col-sm-2">
        <input type="text" class="bet-textbox" [(ngModel)]="numRows" style="width:100%" />
    </div>
    <div class="col-sm-2">
        <div *ngIf="isBusy">
            <label class="bet-label">Testing your luck...</label>
        </div>
    </div>
    <div class="col-sm-2">
        <div *ngIf="!isBusy">
            <button (click)="endSession()">End Session</button>
        </div>
    </div>
</div>